.Layout {
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #101010;
}

.Header {
  display: flex;
  height: 60px;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  background-color: darkslateblue;
}

.Logo {
  font-size: 24px;
}