.Layout {
  max-width: 960px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #101010;
}

.Header {
  display: flex;
  height: 60px;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
  background-color: darkslateblue;
}

.Logo {
  font-size: 24px;
}

.Menu ul {
  display: flex;
  gap: 8px;
  list-style: none;
}

.Menu a {
  padding: 8px 12px;
  border-radius: 8px;
}

.Menu a:hover,
.Menu a[data-active="true"] {
  background-color: slateblue;
}