.Main,
.SkeletonMain {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 24px;
  overflow-y: auto;
}

.Main h2,
.SkeletonTitle {
  margin-bottom: 18px;
}

.SkeletonTitle {
  width: 120px;
  height: 28px;
  background-color: #1f1f1f;
}

.Cards,
.SkeletonList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-top: 16px;
  list-style: none;
}

.Card,
.SkeletonItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 12px;
  border-radius: 8px;
  background-color: #1f1f1f;
}

.Card img,
.SkeletonImage {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.Card h3 {
  font-size: 16px;
}

/* Skeleton */

.SkeletonButtons {
  display: flex;
  gap: 8px;
  list-style: none;
}

.SkeletonButton {
  width: 80px;
  height: 35px;
  border-radius: 8px;
  background-color: #1f1f1f;
}

.SkeletonImage {
  background-color: #303030;
}

.SkeletonFullName {
  width: 100px;
  height: 18px;
  border-radius: 8px;
  background-color: #303030;
}

.SkeletonDateOfBirth {
  width: 80px;
  height: 18px;
  border-radius: 8px;
  background-color: #303030;
}